{{#each posts as |post| }}
<div>
  <div>
    <p><a href="/post/{{post.id}}">{{post.title}}</a></p>

    <p>Created by {{User.username}} on {{format_date createdAt}}</p>
  </div>
  <div>
    <p>
        
      {{post.body}}
    </p>
  </div>
</div>
{{/each}}