<div>
  <div>
    <p>Welcome, {{owner.username}}!</p>
  </div>
</div>

  {{#if posts.length}}

    <h1>Your Posts:</h1>

    {{#each posts as |post| }}
  <div class="card justify-space-between">
    <div class="card-header flex-row justify-space-around">
    <h2><a href="/dashboard/{{post.id}}">{{title}}</a><h2>
    <p>Created by {{User.username}} on</p>
    </div>
    <div class="card-body"></div>
    <p>{{body}}</p>
  </div>
{{/each}}
{{/if}}

    <button onclick="window.location.href='/dashboard/new';" class="btn">+ New</button>
</div>

{{!-- <script src="./js/profile.js"></script> --}}
