<div>
  <div>
    <h1>Welcome, {{owner.username}}!</h1>
  </div>
</div>

  {{#if posts.length}}

    <h1>Your Posts:</h1>

    {{#each posts as |post| }}
  <div class="card justify-space-between">
    <div class="card-header flex-row justify-space-around">
    <h2><a href="/dashboard/{{post.id}}">Title: {{title}}</a><h2>
    <h2>Created by {{User.username}} on {{format_date createdAt}}</h2>
    </div>
    <div class="card-body">
    <h3>{{body}}</h3>
    </div>
  </div>
{{/each}}
{{/if}}

    <button onclick="window.location.href='/dashboard/new';" class="btn">+ New</button>
</div>

{{!-- <script src="./js/profile.js"></script> --}}
