<div>
  <div>
    <p>Welcome, {{owner.username}}!</p>
  </div>
</div>

  {{#if posts.length}}

    <h3>Your Posts:</h3>

    {{#each posts as |post| }}


    <p><a href="/dashboard/{{post.id}}">{{title}}</a><p>
    <p>Created by {{User.username}} on</p>
    <p>{{body}}</p>
{{/each}}
{{/if}}

    <a href="/dashboard/new">+ New</a>
</div>

{{!-- <script src="./js/profile.js"></script> --}}
