<div>
  <div>
    <h2>Welcome, {{postusername}}!</h2>
  </div>
</div>

  {{#if posts.length}}

    <h3>Your Posts:</h3>

    {{#each posts as |post| }}


    <p><a href="/post/{{post.title}}">{{title}}</a><p>
    <p>Created by {{user.username}} on</p>
    <p>{{post.body}}</p>
{{/each}}
{{/if}}

    <a href="/dashboard/new">+ New</a>
</div>

{{!-- <script src="./js/profile.js"></script> --}}
