<div>
  <div>
    <p>{{post.title}}</p>

    <p>Created by {{post.User.username}} on {{format_date post.createdAt}}</p>
  </div>
  <div>
    <p>{{post.body}}</p>
  </div>
</div>

<form id="edit-post-form">
    <input type="hidden" name="post-id" value="{{post.id}}"/>
    <input type="hidden" name="post-title" value="{{post.title}}"/>
      <div>
        <label>New Description:</label>
        <textarea type="text" name="post-body"></textarea>
      </div>
      <div>
        <button class="btn" type="submit">Submit</button>
      </div>
    </form>
    <button class="btn" id="delete-btn">Delete Post</button>

<script src="/js/edit.js"></script>
