<div class="card justify-space-between">
  <div class="card-header flex-row justify-space-around">
    <h2>{{post.title}}</p>

    <h2>Created by {{post.User.username}} on {{format_date post.createdAt}}</p>
  </div>
  <div class="card-body">
    <h3>{{post.body}}</h3>
  </div>
</div>

<form id="edit-post-form">
    <input type="hidden" name="post-id" value="{{post.id}}"/>
    <input type="hidden" name="post-title" value="{{post.title}}"/>
      <div>
        <label class="form-label"><h3>New Description:</h3></label>
        <textarea class="form-input" type="text" name="post-body"></textarea>
      </div>
      <div>
        <button class="btn" type="submit">Submit</button>
      </div>
    </form>
    <button class="btn" id="delete-btn">Delete Post</button>

<script src="/js/edit.js"></script>
