<div>
  <div>
    <p>{{post.title}}</p>

    <p>Created by {{post.User.username}} on {{format_date post.createdAt}}</p>
  </div>
  <div>
    <p>{{post.body}}</p>
  </div>
</div>

{{#if post.Comments}}
<h1>Comments:</h1>
{{#each post.Comments}}
<h2>{{body}}</h2><p>By: {{User.username}}</p>
{{/each}}
{{/if}}




<form id="new-comment-form">
    <input type="hidden" name="post-id" value="{{post.id}}" />
      <div>
        <label>Comment:</label>
        <textarea type="text" name="comment-body"></textarea>
      </div>
      <div>
        <button class="btn" type="submit">Submit</button>
      </div>
    </form>

<script src="/js/comment.js"></script>