<div class="card justify-space-between">
  <div class="card-header flex-row justify-space-around">
    <h2>{{post.title}}</p>

    <h2>Created by {{post.User.username}} on {{format_date post.createdAt}}</p>
  </div>
  <div class="card-body">
    <h3>{{post.body}}</h3>
  </div>
</div>

{{#if post.Comments}}
{{#each post.Comments}}
<div class="card justify-space-between">
  <div class="card-header flex-row justify-space-around">
<h2>By: {{User.username}}</h2>
  </div>
<div class="card-body">
<h3>{{body}}</h3>
</div>
</div>
{{/each}}
{{/if}}





<form id="new-comment-form">
    <input type="hidden" name="post-id" value="{{post.id}}" />
      <div>
        <label class="form-label"><h3>Comment:</h3></label>
        <textarea class="form-input" type="text" name="comment-body"></textarea>
      </div>
      <div>
        <button class="btn" type="submit">Submit</button>
      </div>
    </form>

<script src="/js/comment.js"></script>